{% extends "base.html" %}

{% block body %}
<button class="sidebar-toggle">
    <i class="fas fa-bars"></i>
</button>
<aside class="sidebar">
    <div class="sidebar-header">
        <a href="{{ url_for ('dashboard') }}"><img src='{{ url_for("static", filename="img/app-icon.png") }}'
                class="logo" alt="" /></a>
        <button class="close-btn"><i class="fas fa-times"></i></button>
    </div>
    <br>
    <ul class="links">
        <li>
            <a href="{{ url_for ('distance') }}"><img src='{{ url_for("static", filename="img/distance-icon.png") }}'
                    class="logo" alt="calc-distance" />
                &nbsp;&nbsp;Calculate Distance</a>
        </li>
        <li>
            <a href="{{ url_for ('country') }}"><img src='{{ url_for("static", filename="img/flag-icon.png") }}'
                    class="logo" alt="country-info" />
                &nbsp;&nbsp;Get country information</a>
        </li>
    </ul>
    <!-- <li>
        <button><a href='{{ url_for("static", filename="img/flag-icon.png") }}' class="logo" alt="country-info" >Get country information</a></button>
    </li> -->
</aside>

<ul class="link">
    <br>
    <div class="authentication">
        <!-- check if user is logged in so you redirect to dashboard -->
        <a href="{{ url_for('home') }}"><img src='{{ url_for("static", filename="img/app-icon.png") }}' class="logo"
                alt="home" style="width:1.6em; height:1.5em;" /></a>
    </div>
</ul>
<div class="logout-btn">
    <br>
    <a href="{{ url_for ('logout') }}"><img src='{{ url_for("static", filename="img/logout-icon.png") }}'
            alt="geolocation app" style="width:1.6em; height:1.5em;" /></a>
</div>

<!-- javascript -->

<script>
    //create icon
    var myIcon = L.icon({
        iconUrl: '{{ url_for("static", filename="img/person-icon.png") }}',
        iconSize: [50, 32],
        iconAnchor: [25, 16],
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/userPos.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/getCountry.js') }}"></script> -->
<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}