{% extends "index.html" %}
{% block title %}Login Page{% endblock %}
{% block body %}

    <div class = "logout-btn">
        <a href="{{ url_for('home')}}"><img src='{{ url_for("static", filename="img/home-icon.png") }}' class="logo" alt="about" style="width:1.6em; height:1.4em;" />&nbsp;&nbsp;</a>
    </div>
    <h5>Welcome to the GeolocationApp Sign up Page!!!</h5><br>
    <div class= "form">
        <a href="{{ url_for ('login') }}">Already have an account? Log In</a>
        <form method = "POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}<br>
            {{ form.password }}<br>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}

